[github]
    user = ajgrover

[user]
    name = Alex Grover
    email = alexat955@gmail.com

[color]
    ui = auto

[credential]
    helper = osxkeychain

[push]
    default = simple

[help]
    autocorrect = 1

[fetch]
    prune = true

[branch]
	autosetuprebase = always

[core]
	excludesfile = /Users/alexgrover/.gitignore
