[github]
    user = ajgrover

[user]
	name = Alex Grover
	email = ajgrover@stanford.edu

[color]
    ui = auto

[credential]
	helper = osxkeychain

[push]
	default = simple

[help]
    autocorrect = 1
