[github]
    user = ajgrover

[user]
    name = Alex Grover
    email = hello@alexgrover.me

[color]
    ui = auto

[credential]
    helper = osxkeychain

[push]
    default = simple

[help]
    autocorrect = 1

[fetch]
    prune = true

[branch]
    autosetuprebase = always
